* {
    box-sizing: border-box;
}

header {
    height: 50px;
    margin-bottom: 50px;
    color: white;
    /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background: #0b2434;
    padding: 30px;
}

main {
    max-width: 320px;
    min-height: 320px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-wrapper {
    max-width: 100%;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template: auto auto / repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    align-items: center;
    grid-gap: 18px;
    margin: 20px;
}

.die {
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.die-1::before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
}

.die-2::before {
    content: "";
    width: 20%;
    height: 20%;
    background: transparent;
    border-radius: 50%;
    box-shadow: black -0.7em -0.7em 0px 0px, black 0.7em 0.7em 0px 0px;
}

.die-3::before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
    box-shadow: black 0.7em -0.7em 0px 0px, black -0.7em 0.7em 0px 0px;
}

.die-4::before {
    content: "";
    width: 20%;
    height: 20%;
    background: transparent;
    border-radius: 50%;
    box-shadow: black -0.7em -0.7em 0px 0px, black -0.7em 0.7em 0px 0px,
        black 0.7em -0.7em 0px 0px, black 0.7em 0.7em 0px 0px;
}

.die-5::before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
    box-shadow: black -0.7em -0.7em 0px 0px, black -0.7em 0.7em 0px 0px,
        black 0.7em -0.7em 0px 0px, black 0.7em 0.7em 0px 0px;
}

.die-6::before {
    content: "";
    width: 20%;
    height: 20%;
    background: transparent;
    border-radius: 50%;
    box-shadow: black -0.7em -0.7em 0px 0px, black -0.7em 0px 0px 0px,
        black -0.7em 0.7em 0px 0px, black 0.7em -0.7em 0px 0px,
        black 0.7em 0px 0px 0px, black 0.7em 0.7em 0px 0px;
}

.roll-btn {
    font-family: "Karla";
    font-size: 16.384px;
    line-height: 19px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: #ffffff;
    min-width: 100px;
    height: 35.84px;
    background: #5035ff;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    cursor: pointer;
    margin: 20px;
}

.roll-btn:hover {
    transform: scale(1.2);
}

.roll-btn:focus {
    outline: none;
}

.roll-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.isHeld-true {
    background: pink;
    outline: solid;
}

.title {
    margin: 20px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #2b283a;
}

.instructions {
    max-width: 80%;
    min-height: 50px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 13.1072px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #4a4e74;
    margin: 0;
}

.win-msg {
    max-width: 80%;
    margin: 0;
    text-align: center;
    min-height: 50px;
    font-size: 13.1072px;
}

.win-msg > h1 {
    font-size: 25px;
    margin: 0;
}

.win-msg > p {
    margin: 0;
}

.form-container {
    font-family: 'Inter';
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form-submit {
    font-size: 100%;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;   
    cursor: pointer; 
    align-self: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    margin: 20px;
}