* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  padding: 30px;
}

main {
  max-width: 320px;
  height: 320px;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: auto;
}

