* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  background: #0B2434;
  padding: 30px;
}

main {
  max-width: 320px;
  min-height: 320px;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-wrapper {
  max-width: 100%;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template: auto auto / repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  align-items: center;
  grid-gap: 18px;
  margin: 20px;
}

.die {
  width: 35.84px;
  height: 35.84px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  font-weight: 700;
  font-size: 20.5889px;
  line-height: 35.84px;
  text-align: center;
  color: #2B283A;
  cursor: pointer;
}

.roll-btn {
  font-family: 'Karla';
  font-size: 16.384px;
  line-height: 19px;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  color: #FFFFFF;
  min-width: 100px;
  height: 35.84px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  cursor: pointer;
  margin: 20px;
}

.roll-btn:hover {
  transform: scale(1.2);
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.isHeld-true {
  background: #59E391;
  outline: solid;
}

.title {
  margin: 20px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2B283A;
}

.instructions {
  max-width: 80%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
  margin: 0;
}